{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_projet_new' ? 'Ajout' : 'Édition' %}
{% block title %}
	{{ action }}
	d'auteur
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Ajouter un Projet
		</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(form) }}
	</div>

{% endblock %}
